.box {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  padding: 20px;
  background-color: rgb(104, 104, 133);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.main {
  text-align: center;
}
label {
  font-weight: bold;
  font-size: 20px;
}
input {
  width: 100%;
  border: 2px solid rgb(5, 5, 58);
  height: 20px;
}
button {
  background-color: rgb(5, 5, 58);
  color: rgb(197, 197, 26);
  padding: 10px;
  width: 50%;
}
button:hover {
  background-color: rgb(14, 14, 90);
  color: #fff;
}
.btn {
  text-align: center;
  width: 33%;
  margin-left: 35%;
  margin-top: 15px;
}
h1 {
  color: rgb(5, 5, 58);
}
