body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.section {
  display: flex;
  justify-content: space-around;
  background-color: rgb(197, 197, 26);
}
.title {
  color: rgb(5, 5, 58);
  font-size: 40px;
  margin-top: 15px;
}
.mainteg {
  font-size: 20px;
  color: black;
  margin-top: 30px;
  text-align: left;
}
.test {
  background-color: rgb(134, 133, 130);
}
.userdata {
  width: 100%;
  height: 20px;
}
.header {
  text-align: center;
}
